* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.title{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("../images/header.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    color: white;
    text-align: center;
}

.title h1{
    padding-top: 100px;
    display: inline-block;
    border-bottom: 3px solid white;
    padding-bottom: 3px;
    font-weight: 800;
}

.title h2{
    padding-top: 25px;
    font-weight: 700;
}
.cards{
    background-color: #e3e3e3;
    ;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none!important;
    border-radius: 0% !important;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 23px;
}
.card p{
    font-weight: 600;
}
.card .price{
    color: #2AA73E;
    ;
}

.card img{
    display: inline-block;
    height: auto;
}
.card ul{
    list-style-image:url(../images/tic.png);
}




.calendar{
    width: 100%;
    height: 600px;
}
.calendar_title{
    width: 100%;
    height: 50px;
    background-color: #e3e3e3;
    text-align: center;
    
}
.flex_calendar_container{
    display: flex;
    justify-content: center;
    
    background-color: #ffffff;
    width: 100%;
    height: 550px;
}
.photo{ 
    height:auto;
    width: auto;
    
}

.text{
    
    max-width: 800px;
}
.highlighted {
    color: #2AA73E;
    
}   
.text_head{
    text-align: center;
}
.text_head .head{
    font-size: 36px;
    
}
.text_head .under_head{
    font-size: 24px;
}
.lines_of_text li {
    list-style-type: none; /* Убираем маркеры у списка */
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
   }
.lines_of_text li::before {
    content: "✔"; /* Маркер списка */
    padding-right: 0.5em; /* Расстояние от маркера до текста */
}
.lines_of_text li h4{
    color: black;
    font-size: 18px;
}
.examples{
    display: flex;
    justify-content: center;
}

.calendar_examples{
    width: 100%;
    height: 700px;
    background-color: aquamarine;
    

    

}
.calendars{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;

}
.photo_example#p_2{
    background-color: #2AA73E;
    align-self: stretch;
}
.photo_example{
    
   
}


