* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.title{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("../images/header.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    color: white;
    text-align: center;
}

.title h1{
    padding-top: 100px;
    display: inline-block;
    border-bottom: 3px solid white;
    padding-bottom: 3px;
    font-weight: 800;
}

.title h2{
    padding-top: 25px;
    font-weight: 700;
}
.cards{
    background-color: #e3e3e3;
    padding: 40px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none!important;
    border-radius: 0% !important;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 23px;
}
.card p{
    font-weight: 600;
}
.card .price{
    color: #2AA73E;
    ;
}

.card .img{
    display: inline-block;
    height: 80px;
    margin-bottom: 15px;
    width: 80px;
}
.card ul{
    list-style-image:url(../images/tic.png);
    text-align: left;
}
.present{
    background-color: #e3e3e3;
    text-align: center;
}

.block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.image-container{
    position: relative;
    width: 480px;
    height: auto;
}

.outer{
    width: 100%;
}

.inner{
    position: absolute;
    top:15px;
    left: 15px;
    width: 450px;
    height: auto;
}

.digit{
    width: 335px;
    height: 190px;
}

.text{
    width: 37%;
    text-align: left;
    font-size: 20px;
}

.text h4{
    color: #2AA73E;
    font-weight: 600;
    font-size: 28px;
}

/* @media (max-width: 1415px) {
    .outer{
        width: 500px;
    }
    .inner{
        width: 468px;
    }
} */

@media (max-width: 1415px){
    .outer{
        width:86%;
    }
    .inner{
        width: 79%;
        left: 50px;
        top: 14px;
    }
    .digit{
        width: 270px;
    }
}


.calendar{
    width: 100%;
    
}
.calendar_title{
    width: auto;
    text-align: center;
    background-color: #e3e3e3;
}


.flex_calendar_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.text{
    max-width: 800px;
}
.highlighted {
    color: #2AA73E;
    
}   
.text_head{
    text-align: center;
}
.text_head .head{
    font-size: 36px;
    
}
.text_head .under_head{
    font-size: 24px;
}

.lines_of_text{
    height: 550px;

}
.lines_of_text li {
    list-style-type: none; /* Убираем маркеры у списка */
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
   }
.lines_of_text li::before {
    content: "✔"; /* Маркер списка */
    padding-right: 0.5em; /* Расстояние от маркера до текста */
}
.lines_of_text li h4{
    color: black;
    font-size: 18px;
}
.container_calend{
    background-color: #e3e3e3;
}
.container_calend .title_ex_ph_cal{
    text-align: center;
    padding-top: 44px;
    padding-bottom: 7.72px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    background-color: #e3e3e3;
    
}
.item{
    padding-left: 19.62px;
    padding-right: 19.62px;
    padding-bottom: 24.52px;
}








@media (min-width: 1200px) {
    body { font-size: 0.9rem; }
}
@media (max-width: 1199px) and (min-width: 900px) {
    body { font-size: 0.8rem; }
}
@media (max-width: 899px) {
    body { font-size: 0.7rem; }
}