* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.title{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("../images/header.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    color: white;
    text-align: center;
}

.title h1{
    padding-top: 100px;
    display: inline-block;
    border-bottom: 3px solid white;
    padding-bottom: 3px;
    font-weight: 800;
}

.title h2{
    padding-top: 25px;
    font-weight: 700;
}
.cards{
    background-color: #e3e3e3;
    padding: 40px;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none!important;
    border-radius: 0% !important;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 23px;
}
.card p{
    font-weight: 600;
}
.card .price{
    color: #2AA73E;
    ;
}

.card .img{
    display: inline-block;
    height: 80px;
    margin-bottom: 15px;
    width: 80px;
}
.card ul{
    list-style-image:url(../images/tic.png);
    text-align: left;
}
.present{
    background-color: #e3e3e3;
    text-align: center;
}

.block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.image-container{
    position: relative;
    width: 480px;
    height: auto;
    text-align: left;
}

.outer{
    width: 100%;
}

.inner{
    position: absolute;
    top:15px;
    left: 15px;
    width: 450px;
    height: auto;
}

.digit{
    width: 335px;
    height: 120px;
}

.text{
    width: 37%;
    text-align: left;
    font-size: 20px;
}

.text h4{
    color: #2AA73E;
    font-weight: 600;
    font-size: 28px;
}

.present-secondary{
    background-color: #e3e3e3;
    text-align: center;
}

.present-secondary .container-secondary{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
}

.digit-secondary{
    display: flex;
    align-items: center;
}
.image-container-secondary{
    position: relative;
    width: 606px;
    height: auto;
    text-align: left;
}
.outer-sec{
    width: 100%;
}
.inner-sec{
    position: absolute;
    top:12px;
    left: 7px;
    width: 583px;
    height: auto;
}

.digit-secondary img{
    width: 48px;
    padding-right: 20px;
}
/* @media (max-width: 1415px) {
    .outer{
        width: 500px;
    }
    .inner{
        width: 468px;
    }
} */

@media (max-width: 1400px){
    .outer{
        width:86%;
    }
    .inner{
        width: 79%;
        left: 14px;
        top: 14px;
    }
    .digit{
        width: 22%;
    }
    /* .digit img{ 
        width: 80px;
    } */
    .present .text{
        width: 48%;
    }
}


.calendar{
    width: 100%;
    
}
.calendar_title{
    width: auto;
    text-align: center;
    background-color: #e3e3e3;
}

.calendar_title h3{
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}

.flex_calendar_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.flex_calendar_container .photo img{
    height: 637px;
    width: 550px;
    margin: 0;
}

.flex_calendar_container .text{
    width: 48%;
}
.highlighted {
    color: #2AA73E;
    
}   
.text_head{
    text-align: center;
}
.text_head .head{
    font-size: 36px;
    
}
.text_head .under_head{
    font-size: 24px;
}

.lines_of_text{
    height: 550px;

}
.lines_of_text li {
    list-style-type: none; /* Убираем маркеры у списка */
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
   }
.lines_of_text li::before {
    content: "✔"; /* Маркер списка */
    padding-right: 0.5em; /* Расстояние от маркера до текста */
}
.lines_of_text li h4{
    font-weight: 500;
    color: black;
    font-size: 18px;
}
.container_calend{
    background-color: #e3e3e3;
}
.container_calend .title_ex_ph_cal{
    text-align: center;
    padding-top: 44px;
    padding-bottom: 7.72px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    background-color: #e3e3e3;
    margin: 0;
    
}
.item{
    padding-left: 19.62px;
    padding-right: 19.62px;
    padding-bottom: 24.52px;
}








@media (min-width: 1200px) {
    body { font-size: 0.9rem; }
}
@media (max-width: 1199px) and (min-width: 900px) {
    body { font-size: 0.8rem; }
}
@media (max-width: 899px) {
    body { font-size: 0.7rem; }
}
@media(max-width:1000px){
    .flex_calendar_container .text{
        width: 80%;
    }
}

.container_2{
    background-color: #e3e3e3;
}
.container_2 .grid{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: #e3e3e3;
}
.text_block{
    margin-left: 50px;
}
.text_block ol li{
    font-size: 20px;
    font-weight: bold;
}
.text_block ol li p{
    font-size: 18px;
    font-weight: normal;
}

.item{
    padding-left: 19.62px;
    padding-right: 19.62px;
    padding-bottom: 24.52px;
}
.text2{
    list-style-image: url('../images/Rectangle.png');
}


.create{
    padding-bottom: 200px ;
    padding-top: 40px;
    background-color: #e3e3e3;
}
.create .container{
    margin-left: 225px;
    margin-right: 205px;
}

.create h2{
    text-align: center;
}
.create .list{
    text-align: left;
    width: 36%;
    margin-left: 142px;
}
.create .steps{
    display: flex;
    justify-content: center;
    align-items: center;
}
.create .step{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.step .image {
    position: relative;
    margin-right: 16px;
    display: inline-block;
}

.step.image img{
    display: block;
}

.step h5{
    font-weight: 600;
}
.step .image .number{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.step .image .number p{
    width: 13px;
    height: 40px;
}

.create .options{
    display: flex;
    justify-content: center;
    align-items: center;
}
.create .option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 26%;
    margin-top: 30px;
    font-size: 20px;
}
.create .option h5{
    font-weight: 600;
    padding-top: 5px;

}
.create .option p{
    color: #2AA73E;
    font-weight: 500;
}

.create-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn button{
    padding: 23px 100px;
    background-color: #2AA73E;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 54px;
}
