<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фотокалендарь</title>
    <link rel="stylesheet" href="../../../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
    <div class="head">
        <div class="title">
            <h1>{% if settings.title %}{{ settings.title }}{% endif %}</h1>
            <h2>{% if settings.subtitle_1 %}{{ settings.subtitle_1 }}{% endif %} <br> {% if settings.subtitle_2 %}{{ settings.subtitle_2 }}{% endif %}</h2> 

        </div>
    </div>
    <main>
        <section-one>
            {% if cards %}
                {% if settings.is_active_cards %}
                    <div class="cards">
                        <div class="container text-center">
                            {% if settings.cards %}<h3>{{ settings.cards }}</h3>{% endif %}
                            <div class="row custom-container">
        
                                {% for card in cards %}
                                    <div class="col-12 col-md-6 col-xl-3">
                                        <div class="card">
                                            <div class="img">
                                                <img src="{{ card.image.url }}" alt="">
                                            </div>
        
                                            <p>{{ card.title }}</p>
                                            <ul>
                                                {% if card.list_1 %}
                                                    <li>{{ card.list_1 }}</li>
                                                {% endif %}
                                                {% if card.list_2 %}
                                                    <li>{{ card.list_2 }}</li>
                                                {% endif %}
                                                {% if card.list_3 %}
                                                    <li>{{ card.list_3 }}</li>
                                                {% endif %}
                                            </ul>
                                            <p>{{ card.text }}</p>
                                            <p class="price">{{ card.cost }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
        
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </section-one>

        <section-two>
            {% if examples %}
                {% if settings.is_active_examples %}
                    
                    <div class="present">
                        <div class="container">
                            {% if settings.examples %}<h3>{{ settings.examples }}</h3>{% endif %}
                                {% for ex in examples %}
                                    {% if ex.is_active_1 %}
                                        <div class="block">
                                            <div class="pictures">
                                                <div class="image-container">
                                                    <img src="../../../static/images/TEXT.png" alt="" class="outer">
                                                    <img src="{{ ex.image_1.url }}" alt="" class="inner">
                                                </div>
                                            </div>
                                            <div class="order">
                                                <div class="digit">
                                                    <h3>{{ex.number_1}}</h3>
                                                </div>
                                                <div class="text">
                                                    <h4 class="subtit">{{ ex.title_1 }}</h4>
                                                    <p class="paragraph">{{ ex.text_1 }}</p>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    {% endif %}
                                    {% if ex.is_active_2 %}
                                        <div class="block">
                                            <div class="order">
                                                <div class="text">
                                            <h4>{{ ex.title_2 }}</h4>
                                            <p>{{ ex.text_2 }}</p>
                                        </div>
                
                                        <div class="digit">
                                            <h3>{{ex.number_2}}</h3>
                                        </div>
                                            </div>
                                        
                
                                        <div class="pictures"></div>
                                            <div class="image-container">
                                                <img src="../../../static/images/TEXT.png" alt="" class="outer">
                                                <img src="{{ ex.image_2.url }}" alt="" class="inner">
                                            </div>
                                            </div>
                                    {% endif %}
                                {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </section-two>

        <section-three>
            {% if offers %}
                {% if settings.is_active_offers %}
                    <div class="calendar">
                        <div class="calendar_title">
                            {% if settings.offers %}<h3>{{ settings.offers }}</h3>{% endif %}
                        </div>
                        
                        <div class="flex_calendar_container">
                            <div class="photo">
                                {% if offers.image %}<img src="{{ offers.image.url }}" alt="photocalendar">{% endif %}
                            </div>
                            <div class="text">
                                <div class="text_head">
                                    <h3 class="head highlighted">{{ offers.title }}</h3>
                                    <h3 class="under_head">{{ offers.subtitle }}</h3>
                                </div>
                                <div class="lines_of_text">
                                    <ul>
                                        <li class="highlighted">Оригинально
                                            <h4>Такой подарок точно будет оригинален и неповторим, поскольку чтоб сделать фотокалендарь необходимо подготовить его макет и место где напечатать</h4>
                                        </li>
                                        <li class="highlighted">Эмоционально
                                            <h4>Фотокалендарь с фотографиями ярких жизненных моментов, а также сам факт, что вы потратили время чтоб сделать что то необычное, приятно порадует близкого человека</h4>
                                        </li>
                                        <li class="highlighted">Памятно
                                            <h4>Такой подарок будет находиться на видном месте и напоминать близкому человеку о вас, как минимум год, что делает такой подарок особенно приятным</h4>
                                        </li>
                                        <li class="highlighted">Полезно
                                            <h4>Помимо приятных воспоминаний и эмоций фотокалендарь несет и полезную функцию, позволяет следить за днями месяца и делать важные отметки</h4>
                                        </li>
                                        <li class="highlighted">Недорого
                                            <h4>В отличие от большинства подарков стоимость изготовления фотокалендаря стоит всего 1500 руб., что делает его одним из самых выгодных вариантов подарка</h4>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>    
                    </div>
                {% endif %}
            {% endif %}
        </section-three>

        <section-four>
            {% if calendars %}
                {% if settings.is_active_calendars %}
                    <div class="container_calend">
                        {% if settings.calendars %}<h2 class="title_ex_ph_cal">{{ settings.calendars }}</h2>{% endif %}
                        <ul class="grid">
                            {% for cal in calendars %}
                                <li class="item">
                                    <div class="calendar1">
                                        <img src="{{ cal.calendar.url }}" alt="">
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        
                    </div>
                {% endif %}
            {% endif %}
            {% if reviews %}
                {% if settings.is_active_reviews %}
                    <div class="container_calend">
                        <h2 class="title_ex_ph_cal">{{ settings.reviews }}</h2>
                        <ul class="grid">
                            {% for rew in reviews %}
                                <li class="item">
                                    <div class="calendar1">
                                        <img src="{{ rew.review.url }}" alt="">
                                    </div>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endif %}
        </section-four>
        


        <foot>
            {% if manual %}
                {% if settings.is_active_manual %}
                    <div class="create">
                        <div class="conrainer">
                            {% if settings.manual %}<h2>{{ settings.manual }}</h2>{% endif %}
                            <div class="steps">
                                <div class="example">
                                    <img src="{{ manual.calendar.url }}" alt="">
                                </div>
                                <div class="list">
                                    <div class="step">
                                        <div class="image">
                                            <img src="../../../static/images/Rectangle.png" alt="">
                                            <div class="number">
                                                <p>1</p>
                                            </div>
                                        </div>
                                        <h5>{{ manual.title_1 }}</h5>
                                    </div>
                                    <p>{{ manual.text_1 }}</p>
                                    <div class="step">
                                        <div class="image">
                                            <img src="../../../static/images/Rectangle.png" alt="">
                                            <div class="number">
                                                <p>2</p>
                                            </div>
                                        </div>
                                        <h5>{{ manual.title_2 }}</h5>
                                    </div>
                                    <p>{{ manual.text_2 }}</p>
                                    <div class="step">
                                        <div class="image">
                                            <img src="../../../static/images/Rectangle.png" alt="">
                                            <div class="number">
                                                <p>3</p>
                                            </div>
                                        </div>
                                        <h5>{{ manual.title_3 }}</h5>
                                    </div>
                                    <p>{{ manual.text_3 }}</p>
                                </div>
                            </div>
                            <div class="options">
                                <div class="option">
                                    <img src="{{ manual.ico_1.url }}" alt="">
                                    <h5>{{ manual.name_1 }}</h5>
                                    <p>{{ manual.description_1 }}</p>
                                </div>
                                <div class="option">
                                    <img src="{{ manual.ico_2.url }}" alt="">
                                    <h5>{{ manual.name_2 }}</h5>
                                    <p>{{ manual.description_2 }}</p>
                                </div>
                                <div class="option">
                                    <img src="{{ manual.ico_3.url }}" alt="">
                                    <h5>{{ manual.name_3 }}</h5>
                                    <p>{{ manual.description_3 }}</p>
                                </div>
                            </div>
                            <div class="create-btn">
                                <img src="../../../static/images/pointer.png" alt="">
                                <div class="btn"><button>Создать фотокалендарь</button></div>
                                <img src="../../../static/images/pointer2.png" alt="">
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </foot>
    </main>
</body>
</html>